&VARS_DIMENSION

    n_vars = 6 ! number of variables in the data files which are considered

/

&CORE

    vars(1) = "N1p" ! variable names, as in the data files
    vars(2) = "N3n"
    vars(3) = "N5s"
    vars(4) = "O3c"
    vars(5) = "O3h"
    vars(6) = "O2o"

    var_names_idx(1) = 2 ! ogstm variable indexes
    var_names_idx(2) = 3
    var_names_idx(3) = 6
    var_names_idx(4) = 49
    var_names_idx(5) = 50
    var_names_idx(6) = 1

/